.panel{
    background-color: #fff;
    padding:0px;
    margin:0px;
}
.panel1{
    background-color:#fff;
    padding:0px;
    margin:0px;
}
.workspace{
    border-right:1px solid beige;
}
.mainpanel-left{
    border-right:1px solid beige;
    padding:4px;
    padding-right:0px;
}
.mainpanel-content{
	overflow-y:scroll;
    overflow-x:auto;
}
.mainpanel-right{
    border-right:1px solid beige;
    padding:4px;
    flex-direction: column;
}
.bottompanel{
    border-top:1px solid beige;
    margin-left:0px;
}
.workspace{
    padding:4px;
}
.tab-content {
    padding:4px;
}

table
{
	background: #fff;
	border-collapse: collapse;
	text-align: left;
}
table th
{
	font-weight: normal;
	padding: 5px 4px;
	border-bottom: 2px solid #6678b1;
}
table td
{
	border-bottom: 1px solid #ccc;
    padding:3px 4px;
}
table tbody tr:hover td
{
	background-color: beige;
    cursor: pointer;
}
.optionschain-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:3px;
    padding: 3px;
    background-color: #eee;
}